<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorite_path(post), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorite_path(post), method: :post, remote: true, data: {"turbolinks" => false} do %>
    <i class="far fa-heart"></i>
    <% end %>
  </p>
<% end %>