@use '~bootstrap/scss/bootstrap';

.img_prev:hover {
  cursor: pointer; 
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
 border: none;   /*枠線をなくす*/
 color: #fff;  /*文字の色を変える*/
 border-radius: 50%;   /*角を丸くする*/
 background: #baa291;
}

.page-item.active .page-link {
  background-color: #563a3a;
}

.pagination {
  justify-content: center;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 50px;
  background: #d1c0b5;
  color: #563a3a;
}
